<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> The Better Ones Sort </title>
		<meta name="description" content="The Better Ones Sort">
		<meta name="author" content="Group 1">

        <link rel="stylesheet" teyp="text/css" href="{{ url_for('static', filename='css/material.min.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/material.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.slim.js') }}"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</head>

	<body>
		<!-- Always shows a header, even in smaller screens. -->
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		  <header class="mdl-layout__header">
		    <div class="mdl-layout__header-row">
		      <!-- Title -->
		      <span class="mdl-layout-title">The Better Ones: Sort all the things!</span>
		      <!-- Add spacer, to align navigation to the right -->
		      <div class="mdl-layout-spacer"></div>
		      <!-- Navigation. We hide it in small screens. -->
		      <nav class="mdl-navigation mdl-layout--large-screen-only">
		        <a class="mdl-navigation__link" href="">Example Link</a>
		      </nav>
		    </div>
		  </header>
		  <div class="mdl-layout__drawer">
		    <span class="mdl-layout-title">Example Drawer</span>
		    <nav class="mdl-navigation">
		      <a class="mdl-navigation__link" href="">Example Link</a>
		    </nav>
		  </div>
		  <main class="mdl-layout__content">
		    <div class="page-content">
			    <!-- Your content goes here -->
			    <h1 class="helloworld"><strong>Hello world!</strong></h1>
			    <button id="helloworldbutton" onclick="printHelloWorld()">Print to console</button>
		    </div>
		  </main>
		</div>
	<body>
</html>
