.options-container
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 14px;
}

.fab-container
{
    position: absolute;
    bottom: 5%;
    right: 2.5%;
}

#file-upload
{
    display: block;
    margin: 14px;
}

#file
{
    display: none;
}

#generate-list
{
    margin: 14px;
    display: none;
}

